.wrapper {
  display: flex;
  padding-right: 20px;
  margin-right: 12px;
}
.users {
  padding-left: 1px;
  margin-left: 1px;
  margin-up: 1px;
}

.layout {
  display: flex;
  padding-right: 6px;
  margin-right: 12px;
  margin-up: 1px;
}

.nav {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.nav li {
  list-style-type: none;
}

.sidebar {
  width: 200px;
  padding-right: 20px;
  margin-right: 50px;
  border-right: 1px solid var(--white);
  color: #babcc1;
}

.body {
  margin: 0 250px;
}
